

{% extends "base.html" %}
{% load static %}


{% block customcss %}
<link rel="stylesheet" href="{% static 'sty.css' %}">
{% endblock customcss %}

<form action="{% url 'finish' %}" method ='POST'>
    {% csrf_token %}
    <input type="submit" name='button_1' value="スクレイピング開始">
</form>

{% block content %}

    <!-- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝カード＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ -->

    <div class="container mt-5" >
        <div class="row">

            <div class="col-sm-4" >
                <div class="card">
                    <a href="{% url 'janum' %}"><img src="/media/img/pic01.jpg" alt="" class="card-img"></a>
                    <div class="card-body">
                        <h4 class="card-title text-center">じゃらん番号</h4>
                        <p class="card-text text-center">じゃらん番号を取得する</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <a href="{% url 'ja' %}"><img src="/media/img/pic07.jpg" alt="" class="card-img"></a>
                    <div class="card-body">
                        <h4 class="card-title text-center">じゃらん口コミ</h4>
                        <p class="card-text text-center">データベースに保存する</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <a href="{% url 'jaex' %}"><img src="/media/img/pic06.jpg" alt="" class="card-img"></a>
                    <div class="card-body">
                        <h4 class="card-title text-center">じゃらん口コミ</h4>
                        <p class="card-text text-center">エクセルでデータを取得する</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container mt-5" >
        <div class="row">

            <div class="col-sm-4">
                <div class="card">
                    <a href="{% url 'rtnum' %}"><img src="/media/img/pic04.jpg" alt="" class="card-img"></a>
                    <div class="card-body">
                        <h4 class="card-title text-center">楽天番号</h4>
                        <p class="card-text text-center">楽天番号を取得する</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <a href="{% url 'rt' %}"><img src="/media/img/pic05.jpg" alt="" class="card-img"></a>
                    <div class="card-body">
                        <h4 class="card-title text-center">楽天口コミ</h4>
                        <p class="card-text text-center">エクセルでデータを取得する</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <a href="{% url 'rtsa' %}"><img src="/media/img/pic03.jpg" alt="" class="card-img"></a>
                    <div class="card-body">
                        <h4 class="card-title text-center">楽天口コミ</h4>
                        <p class="card-text text-center">エクセルでデータを取得する(営業用)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝カード＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ -->



<!-- <form action="{% url 'finish' %}" method ='POST'>
    {% csrf_token %}
    <input type="submit" name='button_1' value="スクレイピング開始" img src="/media/img/pic06.jpg" alt="" class="card-img">
</form>

<h1>aa</h1> -->
{% endblock content %}